::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}
  
::-webkit-scrollbar-thumb {
    background: #a1a1aa;
    border-radius: 10px;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #71717a;
}